// Размеры экрана
$screen-sm:            320px;
$screen-md:            768px;
$screen-lg:            1280px;
$screen-xl:            1440px;

// Переходы
$transition-slow:      .35s;
$transition-normal:    .25s;
$transition-medium:    .15s;
$transition-fast:      .1s;

// Переходы для ховера
$transition-hover-on:  $transition-normal;
$transition-hover-off: $transition-slow;

// Шрифты
$font-family-default:  'Gotham', 'Helvetica', 'Arial', sans-serif;
$font-family-second:   'Anitype Redwood1', 'Helvetica', 'Arial', sans-serif;

// Цвета
$color-text-default:   black;
$color-text-light:     #AFD9C3;
$color-text-blue:      #0C5388;

$color-blue:           #5DA4D8;
$color-orange:         #FFA113;
$color-background:     #DBF1EE;
$color-light-blue:     #F4FBFA;



